body{
    margin:0;
    background-color:rgb(74, 67, 67);
}
h2{
    text-align: center;
}
.container{
    width:500;
    height:500;
    background-color:rgb(81, 75, 75);
    margin:20px auto;
    display:flex;
}
.box{
    width:125px;
    height:125px;
    background-color: black;
    border:1px solid white;
    border-collapse:collapse;

}
.box:hover{
    background-color: rgba(0, 0, 0, 0.51);
}
.box_value{
    font-size:5em;
    color:white;
    font-weight:800;
    margin:20px 40px;
}

.correct{
    width:125px;
    height:125px;
    background-color:grey;
    border:1px solid white;
    border-collapse:collapse;
}
#but_wrap{
    margin:10px 0px;
    text-align:center;
}
button{
    height:40px;
    width:90px;
    font-weight:700;
    font-size:1.3em;
    background-color: rgb(101, 101, 224);
    border:none;
    box-shadow: 3px 3px 5px rgb(81, 81, 81);
}
button:hover{
    cursor:pointer;
    background-color:rgb(113, 113, 236) ;
    box-shadow: 3px 3px 10px rgb(159, 157, 157);
}
#auth{
    color:white;
}